<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #22874C;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="display: flex; align-items: center;">
      <img src="https://res.cloudinary.com/dfl8h4on4/image/upload/v1742812600/CircutVerse-removebg-preview_1_r0ihrf.png" style="width: 70px;" alt="">
      <div style="display: flex; flex-direction: column; font-family: 'Agbalumo', sans-serif;">
        <span style="font-size: 1.7rem; font-weight: 500; color: white; line-height: 1;">Classroom</span>
        <span style="font-size: 0.9rem; color: #e0e0e0;">CircuitVerse</span>
      </div>
    </a>
    <div class="ms-auto" style="display: flex; align-items: center;">
      <a class="btn btn-outline-light me-4" href='https://circuitverse.org/simulator' target="_blank" style="border-color: white; border-radius: 4px; ">Simulator</a>
      <img style="width: 45px; margin-right: 10px;" src="https://res.cloudinary.com/dfl8h4on4/image/upload/v1742813064/istockphoto-1495088043-612x612-modified_zwypto.png" alt="">
    </div>
  </div>
</nav>