<div class="card mt-3 shadow-sm" style="border-color: #808080; line-height: 0.8;">
    <div  class="py-3 px-2 d-flex " style="justify-content: space-between; align-item:center;   " >
        <div class="fs-6 fw-semibold my-auto">
            <p><%= student[:name] %></p>
        </div>

        <button class="btn btn-danger fw-semibold">remove</button>
    </div>  
</div>