<div id="topup" style=" display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0,0,0,0.7); z-index: 9999; display: flex; justify-content: center; align-items: center;">
    <div class="bg-white p-4 rounded-3 shadow-lg position-relative" style="width: 400px;">


        <div id="prototype-overlay" class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.4); z-index: 9999;">
            <div class="card shadow-lg p-4 rounded-4 text-center" style="max-width: 500px; width: 90%;">
              <h4 class="text-success mb-3">🚧 Prototype Notice</h4>
              <p class="mb-3">
                This webpage is a prototype version. You may encounter some issues like unresponsive design, broken functionality, or minor bugs.
              </p>
              <p class="mb-4">
                I sincerely apologize for any inconvenience. These will be fixed as soon as I join your amazing team!
              </p>
              <p>
                Github URL: <a href="https://github.com/shivamsahu-tech/circuitverse-classroom">click Here!</a>
              </p>
              <button class="btn btn-success px-4" onclick="document.getElementById('topup').style.display='none'; localStorage.setItem('istopup', false)">Okay</button>
            </div>
          </div>
          
    </div>
</div>

